# macOS
.DS_Store
.AppleDouble
.LSOverride
.__*
.Spotlight-V100
.Trashes
.fseventsd

# Theos build artifacts
obj/
.theos/
packages/

# Xcode
*.xcworkspace
*.xcuserdata
*.xcuserdatad
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# General
*.log
*.orig
