Package: com.vasirakcalgux.volumeboostyt
Name: VolumeBoostYT
Version: 1.0.2
Architecture: iphoneos-arm64
Description: An awesome MobileSubstrate tweak!
Maintainer: vasirakcalgux
Author: vasirakcalgux
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
